{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "kos",
  "main": "src/index.ts",
  "compatibility_date": "2025-05-22",
  // "compatibility_flags": [
  //   "nodejs_compat"
  // ],
  "vars": {
    "BASIC_AUTH_USERNAME": "",
    "BASIC_AUTH_PASSWORD": "",
    "ACCESS_KEY_ID_S3": "",
    "SECRET_ACCESS_KEY_S3": "",
    "ENDPOINT_S3": "",
    "S3_BUCKET": "",
    "S3_PUBLIC": ""
  },
  // "kv_namespaces": [
  //   {
  //     "binding": "MY_KV_NAMESPACE",
  //     "id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  //   }
  // ],
  // "r2_buckets": [
  //   {
  //     "binding": "MY_BUCKET",
  //     "bucket_name": "my-bucket"
  //   }
  // ],
  // "d1_databases": [
  //   {
  //     "binding": "MY_DB",
  //     "database_name": "my-database",
  //     "database_id": ""
  //   }
  // ],
  // "ai": {
  //   "binding": "AI"
  // },
  // "observability": {
  //   "enabled": true,
  //   "head_sampling_rate": 1
  // }
}